<html>
  <head>
    <title>edit un potin</title>
  </head>
  <body>
    <h1>Edit un potin !</h1>
    <p>Modifi ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/edit/' method='POST'>
      Modifi ton potin ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>